/*Parte General*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120px;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2 {
    color: #ff0055d7;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 6%;
    font-size: 50px;
}

h3 {
    color: #8400ff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6%;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0055d7;
    margin: 3%;
}

h5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Nav*/

#Logo {
    width: 12%;
}

ul li {
    display: inline;
}

.navbar {
    background-color: #8400ff;
    padding-left: 200px;
}

.nav-link {
    color: white;
    padding-right: 150px;
    display: inline;
    justify-content: space-evenly;
}

.nav-link:hover {
    color: black;
}

/*Primera sección = Bienvenidos*/

#Bienvenido {
    background-color: black;
    height: 700px;
    padding-left: 150px;
}

#Sobremi {
    background-color: #8400ff;
    border-color: white;
    border-radius: 40px;
    width: 200px;
    height: 60px;
    color: white;
    margin-right: 3%;
}

#Contactar {
    background-color: black;
    border-color: #8400ff;
    border-radius: 40px;
    width: 200px;
    height: 60px;
    color: #8400ff;
}

#perfil {
    padding: 20px;
    height: 250px;
    margin-left: 100px;
}

/*Sección Conoceme*/

#Quien {
    height: 200px;
    width: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 30%;
    padding: 30px;
}

/*Sección Estudios*/

.circulos {
    background-color: #8400ff;
    color: white;
    height: 100px;
    width: 100px;
    margin: 50px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorestudios {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Estudios {
    height: 70px;
    width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #02b2f873;
    color: white;
    border-color: blue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.767);
    border-style: solid;
    border-radius: 40px;
}

.Estudios:hover {
    background-color: blue;
    height: 100px;
}

/*Sección Experiencia*/
.Experiencia {
    height: 130px;
    width: 800px;
    margin: 50px;
    margin-left: 250px;
    padding: 30px;
    color: white;
    border-radius: 20px;
    background-color: #8400ff;
}

#CExperiencia {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profe {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profeimg {
    height: 450px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

/*Sección Mis Proyectos */

.pagina {
    width: 60%;
    margin: 50px;
    margin-left: 60px;
    margin-bottom: 60px;
}

#story {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#storydiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proto {
    width: 10%;
}

.protodiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonproto {
    background-color: #ff0055d7;
    border-color: white;
    border-radius: 40px;
    width: 300px;
    height: 60px;
    color: white;
    margin: 3%;
}

.btn {
    background-color: #ff0055d7;
    border-color: white;
    border-radius: 40px;
    width: auto;
    color: white;
}

.btn:hover {
    background-color: #8400ff;
    color: white;
}

.epigrafe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokecard {
    width: 25%;
}

/*Sección Mis Emprendimientos */

.Arrobas {
    color: black;
}

#Emprende {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

#NombreDesg {
    color: purple;
}

.logos {
    height: 300px;
}

.Emprendealineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#NombreAprende {
    color: #dd029b;
}

/*Sección Formulario*/

#fomulario{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

label{
    color:#dd029b;
}

/*Sección Ubicación*/

#mapa {
    margin-left: 0;
    margin-right: 0;
}

/*Footer*/

a {
    color: white;
}

a:hover {
    color: purple;
}

footer {
    padding-top: 30px;
    background-color: black;
    color: white;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
}

#Foot1 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#division {
    background-color: white;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#Foot2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media (max-width: 750px) {

    #conoci {
        height: 80px;
    }

}*/

@media (max-width: 450px) {

    h1 {


        font-size: 35px;

        padding-top: 10%;
        padding-bottom: 0%;
    }

    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-bottom: 2%;
        font-size: 20px;

    }

    h3 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
        font-size: 10px;

    }

    h4 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        font-size: 10px;
    }


    h5 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    p {
        font-size: 10px;

    }

    /*Nav*/

    a {
        font-size: 10px;

    }


    #Logo {
        display: none;
        width: 5%;
    }

    ul li {
        display: inline-block;
    }

    .navbar {
        padding: auto;
        margin: auto;
    }

    .nav-link {
        padding-right: 75px;
        font-size: x-small;
        justify-content: center;
    }

    /*Primera sección = Bienvenidos*/

    #Bienvenido {
        height: auto;
        padding-left: 25px;

    }

    #Sobremi {
        width: 90px;
        height: 25px;
        font-size: small;
        margin-bottom: 50px;
        margin-right: 1px;
    }

    #Contactar {
        width: 90px;
        height: 25px;
        font-size: small;
        margin-bottom: 50px;
        margin-right: 1px;
    }

    #perfil {
        padding: 10%;
        height: 150px;
        margin-left: 25px;
    }

    /*Sección Conoceme*/

    #Quien {
        height: 100px;
        width: 400px;
        margin: 10%;
        padding: 10px;
    }

    /*Sección Estudios*/

    .circulos {

        display: none;

    }

    #data {

        margin: 10%;
    }

    /*Sección Experiencia*/
    .Experiencia {
        height: auto;
        width: auto;
        margin: 20px;
        margin-left: 10%;
        margin-bottom: 5%;
        padding: 3%;
        font-size: x-small;

    }

    #profeimg {
        height: 150px;
        width: 300px;
    }


    /*Sección Mis Proyectos */

    .pagina {
        width: 60%;
        margin: 30px;
        margin-left: 60px;
        margin-bottom: 60px;

    }

    .card-title {

        font-size: x-small;
    }

    .card {
        width: 30px;
        height: auto;
        margin: 5%;
        padding: 0.1%;
    }

    .card-text {
        font-size: x-small;

    }

    #story {
        margin: 3%;
    }

    .proto {
        width: 5%;
    }

    .botonproto {
        width: auto;
        height: 35px;
        font-size: x-small;
        margin: 3%;
        padding: 1%;

    }

    .btn {
        font-size: x-small;
    }

    /*Sección Mis Emprendimientos */

    #Emprende {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
    }

    .logos {

        height: 120px;
    }

    .logoinstagram {
        width: 15%;

    }

    /*Sección Formulario*/

    #Formulario {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 20px;
    }

    input {
        border: 2px solid white;
        border-radius: 10px;
        background: none;
        width: 300px;
        height: 50px;
        text-align: center;
        color: white;
    }

    input:focus {
        background-color: rgb(165, 241, 235);
        color: black;
    }

    textarea {
        border: 2px solid white;
        border-radius: 10px;
        background: none;
        color: white;
    }

    textarea:focus {
        background-color: rgb(165, 241, 235);
        color: black;
    }

    #Enviar {
        background-color: green;
        border-bottom: #edf2f4;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        color: white;
    }

    #Borrar {
        background-color: orangered;
        border-bottom: #edf2f4;
        border-radius: 20px;
        width: 100px;
        height: 40px;
        color: white;
    }

    /*Sección Ubicación*/

    #mapa {
        margin-left: 0;
        margin-right: 0;
    }

    /*Footer*/

    footer {
        padding-top: 10px;
        padding: 1%;

    }

    #Foot1 {

        padding: 1%;
        justify-content: center;
        align-items: center;
    }
}